@model CNABParser.Data.Models.Transacao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataTransacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataTransacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cartao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cartao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proprietario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proprietario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RazaoSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RazaoSocial)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
