@model IEnumerable<CNABParser.Data.Models.Transacao>

@{
    ViewData["Title"] = "Index";
}

<h1>Upload e processamento de arquivo</h1>

<div class="card-body">
    <form id="form" enctype="multipart/form-data" class="needs-validation" novalidate asp-action="ArquivoForm">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="arquivo">Arquivo para upload *</label>
                <input type="file" class="form-control" id="arquivo" name="arquivo" required />
                <div class="invalid-feedback">O Arquivo deve ser informado</div>
            </div>
        </div>
        <button type="button" id="btnSalvar" class="btn btn-primary">Salvar</button>
    </form>
</div>
<div class="card-body">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DataTransacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Valor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CPF)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cartao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Proprietario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RazaoSocial)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataTransacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CPF)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cartao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Proprietario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RazaoSocial)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
